* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Estilo para la barra de navegación */
.navBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  height: 100%;
  width: auto;
  backdrop-filter: blur (30px);
  box-shadow: 10px 10px 20px #111, -10px -10px 20px #ddd;
  padding: 5px 0; /* Espaciado superior e inferior */
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navBar .header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 35px;
}

/* Logo */
.navBar .logo {
  width: 8.1rem;
  height: 8.1rem;
  clip-path: circle(50% at 50% 50%);
  object-fit: cover;
}

.navBar .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 6px 0 10px rgba(0, 0, 0, 0.1);
}

/* Menú hamburguesa */
.navBar .hamburger {
  font-size: 24px;
  color: white;
  cursor: pointer;
  max-width: 40px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1100;
  padding: 10px;
}
.navBar.active .hamburger {
  top: 10px;
  right: 10px;
  left: auto;
  transform: none;
}
.navBar .hamburger:hover {
  color: #575757;
}
/* Estiliza los íconos en general */
.navBar .fa-solid {
  color: white;
  font-size: 18px;
  padding: 1.5rem;
  justify-content: center;
}
.navBar .fa-solid:hover {
  color: #575757;
}

/* Contenedor de secciones */
.barSections {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Elimina los estilos predeterminados de la lista */
.barSections .listSections {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estiliza los elementos de la lista */
.barSections .listSections .unitListSection {
  margin: -0.7rem 0;
}

/* Estiliza los enlaces */
.barSections .listSections .unitListSection .textIcon {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  padding: -0.6rem -0.6rem;
  display: flex;
  align-items: center;
  gap: -0.9rem;
}

/* Efecto hover para los enlaces */
.barSections .listSections .unitListSection .textIcon:hover {
  color: #575757;
}

/* Barra de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  width: auto;
  padding: -0.8rem -0.8rem;
  margin-bottom: 0.9rem;
}

.search-container .searchForm {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-container .fa-solid {
  margin-right: 0rem; /* Espacio entre el ícono y el input */
}

.search-container .searchInput {
  width: 100%;
  padding: 0.6rem;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Ocultar los elementos por defecto */
.barSections .listSections .unitListSection .textIcon,
.searchInput {
  display: none;
}

/* Cuando el menú hamburguesa esté activo, mostrar los elementos */
.navBar.active .barSections .listSections .unitListSection .textIcon,
.navBar.active .searchInput {
  display: inline-flex;
}
/*Estilo de seccion home*/
.initialBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("./img/initial.webp");
  background-size: cover; /* Hace que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem; /* Espaciado lateral para dispositivos pequeños */
}
/*Estilo de frase, seccion home*/
.bannerContent .sentence {
  font-family: "Libre Baskerville", serif;
  font-size: 3rem; /* Tamaño impactante */
  font-weight: 500; /* Texto en negrita */
  color: #fff; /* Color del texto */
  line-height: 1.5; /* Mejora la legibilidad */
  max-width: 800px; /* Limita el ancho del texto */
  margin: 0 auto; /* Centrado horizontal */
}
/*Estilo de contenedor seccion aboutMe*/
.aboutMeBanner {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: normal;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 4), rgba(177, 193, 211, 0.9)),
    url("./img/claro2.jpg");
  background-size: cover;
  background-position: center;
}
/*Estilo de name, seccion aboutMe*/
.aboutMeBanner .name {
  align-items: normal;
  padding-top: 10%;
  font-family: "Libre Baskerville", serif;
  font-size: 3rem; /* Tamaño impactante */
  font-weight: 500; /* Texto en negrita */
  color: #fff; /* Color del texto */
  line-height: 1.5; /* Mejora la legibilidad */
  max-width: 800px; /* Limita el ancho del texto */
  margin: 0 auto; /* Centrado horizontal */
}

/*Estilo de contenedor foto, seccion aboutMe*/
.aboutMeBanner .aboutMeContent .photo {
  width: 9.5rem; /* Tamaño del contenedor */
  height: 9.5rem; /* Igual al ancho para mantener la forma circular */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  overflow: hidden; /* Oculta cualquier contenido fuera del área circular */
  margin: 20px auto; /* Centra el contenedor horizontalmente y añade espacio */
  display: flex; /* Centra la imagen dentro del contenedor */
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Fondo opcional si hay transparencias */
}
/*Estilo de foto, seccion aboutMe*/
.aboutMeBanner .photo img {
  width: 100%; /* Asegura que la imagen se ajuste al contenedor */
  height: 100%; /* Escala la altura para llenar el contenedor */
  object-fit: contain; /* Escala la imagen completa dentro del círculo sin recortes */
}
/*Estilo de descripcion , seccion aboutMe*/
.aboutMeBanner .description {
  top: 0;
  font-family: "poppins", sans-serif;
  padding-top: 5%;
  color: #fff; /* Color del texto */
  line-height: 1.5; /* Mejora la legibilidad */
  max-width: 800px; /* Limita el ancho del texto */
  margin: 0 auto; /* Centrado horizontal */
}

.download-button {
  margin-top: 3rem;
  display: inline-block;
  padding: 10px 20px;
  background-color: #304871; /* Azul atractivo */
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.download-button:hover {
  background-color: #809fc7; /* Azul más oscuro al pasar el mouse */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
